<a href="https://colab.research.google.com/github/ridhampatoliya/R_Short_Course/blob/main/Intro_to_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <span style="color:blue">Introduction to R</span>

## R as a calculator

Addition `+`   
Substraction `-`    
Multiplication `*`    
Division `/`    
Exponentiation `^`    
Modulo `%%`

In [ ]:
12 + 3

[1] 15

In [ ]:
11 - 7

[1] 4

In [ ]:
30 * 30

[1] 900

In [ ]:
12 / 3

[1] 4

In [ ]:
3^3

[1] 27

In [ ]:
11 %% 3

[1] 2

## You can do math too!

In [ ]:
sqrt(10000)

[1] 100

In [ ]:
exp(-1)

[1] 0.3678794

In [ ]:
sin(pi/2)

[1] 1

In [ ]:
atan(-Inf)

[1] -1.570796

### Datatypes in R

Logical: `TRUE`, `FALSE`  

Numeric: `17.3`, `4.999`   

Integer: `50L`, `27L`

character: `'c'`, `"good"`, `"C++"`

In [ ]:
class(TRUE)

[1] "logical"

In [ ]:
class(10.5)

[1] "numeric"

In [ ]:
class(2L)

[1] "integer"

In [ ]:
class('Howdy')

[1] "character"

In [ ]:
class("Howdy everyone!")

[1] "character"

In [ ]:
123
'123'
'123 howdy'
"OneTwentyThree"
35L
TRUE
true

[1] 123

[1] "123"

[1] "123 howdy"

[1] "OneTwentyThree"

[1] 35

[1] TRUE

ERROR: ignored

In [ ]:
#write code for identifying class for each variable
class( )
class( )
class( )
class( )
class( ) 
class( )
class( )

ERROR: ignored

### Variables

Variables are used to store values or objects. In R, we use `<-` or `=` to assign values to variables.

`variable <- value`  
`variable = value`  
___
Here, we will use print statement to print variables.  
`print(variable)`

In [ ]:
dogs = 3
print(dogs)

[1] 3

In [ ]:
cats <- 4
print(cats)

[1] 4

In [ ]:
print(dogs + cats)

[1] 7

In [ ]:
event1 = "Dog runs"
print(event1)

[1] "Dog runs"

In [ ]:
event2 = 'Cat drinks water'
print(event2)

[1] "Cat drinks water"

In [ ]:
print(event1 + event2)

ERROR: ignored

In [ ]:
paste(event1,event2, sep=' and ')

[1] "Dog runs and Cat drinks water"

## Datastructures in R
-

## Vectors: Collection of Data
## `c()` is used to create vectors in R.

It is **NOT** recommended to use different datatypes in a vector.  
- When multiple datatypes are used in the same vector, values are coerced to the most flexible data type.  
- Therefore, vectors (atomic vectors) can only have a single data type.
Vector with only one type of data has a special name in R: **`Atomic Vector`**

In [ ]:
#Numeric
numeric_data = c(23,34,89,29, 20, 333)

#Characters
characters = c("hello", "howdy", "hola", "bonjour")

#logical
logical_vector = c(TRUE, FALSE, F, T, F)

#mix
mix_vector = c("howdy", 23L, 25, T, TRUE)

#mix
mix_vector_2 = c(23L, 25, T)

In [ ]:
print(mix_vector)

[1] "howdy" "23"    "25"    "TRUE"  "TRUE"

In [ ]:
class(mix_vector)

[1] "character"

In [ ]:
class(mix_vector_2)

[1] "numeric"

In [ ]:
class(mix_vector_2[2])

[1] "numeric"

In [ ]:
print(mix_vector_2)

[1] 23 25  1

In [ ]:
characters[1:4]

[1] "hello"   "howdy"   "hola"    "bonjour"

In [ ]:
vec1 = 1:10
vec2 = c(1:10)
vec3 = c(1,2,3,4,5,6,7,8,9,10)

#print
print(vec1)
print(vec2)
print(vec3)

 [1]  1  2  3  4  5  6  7  8  9 10
 [1]  1  2  3  4  5  6  7  8  9 10
 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
s = seq(1,5,by=0.5)
print(s)

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

## Vector Arithmetics

In [ ]:
#addition
a = c(3,6,9)
b = c(9,6,3)

c = a + b
print(c)

[1] 12 12 12

In [ ]:
# scalar multiplication
2*a

[1]  6 12 18

In [ ]:
#vector to vector mltiplication: 
a*b

[1] 27 36 27

In [ ]:
#multiplication of vectors with different dimensions
d = c(2,3,4,5,6,7)
a*d

[1]  6 18 36 15 36 63

## Vector selection with indexes

In [ ]:
a_vector = c(10,9,8,7,6,5,4,3,2,1)

In [ ]:
a_vector[1]

[1] 10

In [ ]:
a_vector[1:4]

[1] 10  9  8  7

In [ ]:
a_vector[]

 [1] 10  9  8  7  6  5  4  3  2  1

In [ ]:
a_vector[]

 [1] 10  9  8  7  6  5  4  3  2  1

In [ ]:
a_vector[-2]

[1] 10  8  7  6  5  4  3  2  1

In [ ]:
a_vector[-2:-4]

[1] 10  6  5  4  3  2  1

In [ ]:
a_vector[-2:-4]

[1] 10  6  5  4  3  2  1

In [ ]:
a_vector[c(3,4,5)]

[1] 8 7 6

In [ ]:
a_vector[c(2:4,5:6)]

[1] 9 8 7 6 5

In [ ]:
a_vector[c(-4,-3)]

[1] 10  9  6  5  4  3  2  1

##### Experiment with indexes!!!

## Conditional Vector Selection

In [ ]:
#Let's try something dumb first
a_vector > 4

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE

In [ ]:
condition = a_vector > 4
a_vector[condition]

[1] 10  9  8  7  6  5

In [ ]:
condition_2 = mean(a_vector) > a_vector
a_vector[condition_2]

[1] 5 4 3 2 1

## Matrices

Matrix is an extension of vectors.  
- Collection of elements of the same data type arranged into a fixed umber of rows and columns.

In [ ]:
mat = matrix(1:20, byrow=1,nrow=4)
mat

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20

In [ ]:
sandwich = c("whichwhich", "subway", "schlotzsky's")
high_price = c(13, 9, 14)
low_price = c(7, 6, 9)

sandwich_price = matrix(c(high_price, low_price), byrow = T, nrow=2)
print(sandwich_price)

     [,1] [,2] [,3]
[1,]   13    9   14
[2,]    7    6    9

In [ ]:
rownames(sandwich_price) = c("high_price","low_price")
colnames(sandwich_price) = sandwich

print(sandwich_price)

           whichwhich subway schlotzsky's
high_price         13      9           14
low_price           7      6            9

In [ ]:
typeof(sandwich_price)

[1] "double"

In [ ]:
#Add new row (entry) to the matrix using rbind

condiment_price = c(2,1,3)
new_sandwich_price = rbind(sandwich_price, condiment_price)
new_sandwich_price

                whichwhich subway schlotzsky's
high_price      13         9      14
low_price        7         6       9
condiment_price  2         1       3

In [ ]:
column_addition = cbind(new_sandwich_price, c(16, 8, 3))
colnames(column_addition) = c(sandwich, "JimmyJohn's")
column_addition

                whichwhich subway schlotzsky's JimmyJohn's
high_price      13         9      14           16
low_price        7         6       9            8
condiment_price  2         1       3            3

**We can access elements from an array similarly as we do from vectors, using square brackets.**

In [ ]:
#example
new_sandwich_price[2:3, 1:2]

                whichwhich subway
low_price       7          6
condiment_price 2          1

## Dataframes

Dataframes are the most flexible data structures. Most of **the real world data** requires our data structure to be very flexible so as to include many different datatypes.
- Example: Consider a dataset containing census data:
    - Names: `character`
    - Age: `Numeric` or `Integer`
    - Employment Status: `Factor` (Categorical variable with "employed" or "unemployed")
    - Names of off-springs: `list of characters`  

Categorical variables are classified as `Factor` in R.

In [ ]:
install.packages("ISLR")
library(ISLR)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
head(Carseats)

  Sales CompPrice Income Advertising Population Price ShelveLoc Age Education
1  9.50 138        73    11          276        120   Bad       42  17
2 11.22 111        48    16          260         83   Good      65  10
3 10.06 113        35    10          269         80   Medium    59  12
4  7.40 117       100     4          466         97   Medium    55  14
5  4.15 141        64     3          340        128   Bad       38  13
6 10.81 124       113    13          501         72   Bad       78  16
  Urban US
1 Yes   Yes
2 Yes   Yes
3 Yes   Yes
4 Yes   Yes
5 Yes   No
6 No    Yes

Parameter | Description
--- | ---
`Sales` | Unit sales (in thousands) at each location
`CompPrice` | Price charged by competitor at each location
`Income`  | Community income level (in thousands of dollars)
`Advertising`  | Local advertising budget for company at each location (in thousands of dollars)
`Population`  | Population size in region (in thousands)
`Price`  | Price company charges for car seats at each site
`ShelveLoc`  | A factor with levels Bad, Good and Medium indicating the quality of the shelving location for the car seats at each site
`Age`  | Average age of the local population
`Education`  | Education level at each location
`Urban`  | A factor with levels No and Yes to indicate whether the store is in an urban or rural location
`US`  | A factor with levels No and Yes to indicate whether the store is in the US or not

In [ ]:
str(Carseats)

'data.frame':	400 obs. of  11 variables:
 $ Sales      : num  9.5 11.22 10.06 7.4 4.15 ...
 $ CompPrice  : num  138 111 113 117 141 124 115 136 132 132 ...
 $ Income     : num  73 48 35 100 64 113 105 81 110 113 ...
 $ Advertising: num  11 16 10 4 3 13 0 15 0 0 ...
 $ Population : num  276 260 269 466 340 501 45 425 108 131 ...
 $ Price      : num  120 83 80 97 128 72 108 120 124 124 ...
 $ ShelveLoc  : Factor w/ 3 levels "Bad","Good","Medium": 1 2 3 3 1 1 3 2 3 3 ...
 $ Age        : num  42 65 59 55 38 78 71 67 76 76 ...
 $ Education  : num  17 10 12 14 13 16 15 10 10 17 ...
 $ Urban      : Factor w/ 2 levels "No","Yes": 2 2 2 2 2 1 2 2 1 1 ...
 $ US         : Factor w/ 2 levels "No","Yes": 2 2 2 2 1 2 1 2 1 2 ...

In [ ]:
# Create a vector.
apple_colors <- c('green','green','yellow','red','red','red','green')

# Create a factor object.
factor_apple <- factor(apple_colors)

In [ ]:
class(factor_apple)

[1] "factor"

In [ ]:
nlevels(factor_apple)

[1] 3

In [ ]:
# Definition of vectors
Instrument <- c("Guitar", "Violin", "Harmonica", "Bongo")
type <- c("string", "string", "wind", "percussion")
high_freq_Hz <- c(1200, 17000, 10000, 18000)
low_freq_Hz <- c(80, 190, 300, 200)
country_origin <- c("Spain", "Italy", "Germany", "Cuba")

# Create a data frame from the vectors
Instruments_df <- data.frame(Instrument = Instrument, Type = type, "high_freq_Hz" = high_freq_Hz, "low_freq_Hz" = low_freq_Hz, "origin_country" = country_origin)

Instruments_df

  Instrument Type       high_freq_Hz low_freq_Hz origin_country
1 Guitar     string      1200         80         Spain
2 Violin     string     17000        190         Italy
3 Harmonica  wind       10000        300         Germany
4 Bongo      percussion 18000        200         Cuba

We can convert some variables (Parameters) to `Factor`

In [ ]:
Instruments_df$Type <- as.factor(Instruments_df$Type)

In [ ]:
Instruments_df

  Instrument Type       high_freq_Hz low_freq_Hz origin_country
1 Guitar     string      1200         80         Spain
2 Violin     string     17000        190         Italy
3 Harmonica  wind       10000        300         Germany
4 Bongo      percussion 18000        200         Cuba

## Selection from Data Frame

- `my_df[1,2]` selects the value at the first row and second column in `my_df`.  
- `my_df[1:3, 2:4]` selects rows 1, 2, 3 and columns 2, 3, 4 in `my_df`.  
- Sometimes you want to select all elements of a row or column.  
- For example, `my_df[1, ]` selects all elements of the first row.

In [ ]:
# Get country of origin for Harmonica
harmonica_origin1 = Instruments_df[3, c(1, 4)]
harmonica_origin2 = Instruments_df[3, c("Instrument", "low_freq_Hz")]

print(harmonica_origin1)
print(harmonica_origin2)

  Instrument low_freq_Hz
3  Harmonica         300
  Instrument low_freq_Hz
3  Harmonica         300

In [ ]:
Instruments_df[2,]

  Instrument Type   high_freq_Hz low_freq_Hz origin_country
2 Violin     string 17000        190         Italy

In [ ]:
Instruments_df[,3]

[1]  1200 17000 10000 18000

In [ ]:
Instruments_df[4,1]

[1] "Bongo"

In [ ]:
#extract a column
Instruments_df$high_freq_Hz

[1]  1200 17000 10000 18000

In [ ]:
names(Instruments_df)

[1] "Instrument"     "Type"           "high_freq_Hz"   "low_freq_Hz"
[5] "origin_country"

In [ ]:
dim(Instruments_df)

[1] 4 5

In [ ]:
str(Instruments_df)

'data.frame':	4 obs. of  5 variables:
 $ Instrument    : chr  "Guitar" "Violin" "Harmonica" "Bongo"
 $ Type          : Factor w/ 3 levels "percussion","string",..: 2 2 3 1
 $ high_freq_Hz  : num  1200 17000 10000 18000
 $ low_freq_Hz   : num  80 190 300 200
 $ origin_country: chr  "Spain" "Italy" "Germany" "Cuba"

## Loops in R

For loop: 
- Takes vector of values as an input
- Generally, increment is not required
- Cannot be executed using binary coditions

In [ ]:
for (i in 1:10){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [ ]:
count = 0
for (i in 1:15){
  if (i < 7){
    count=count+1
  }
}
print(count)

[1] 6

While Loop:         
- Runs until the condition is true
- Usually need to use an increment

`while{true}{do this}`

In [ ]:
i = 1
while(i<=10){
  print(i)
  i = i+ 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

## Logic control
**if**  
`if (condition is true) {action}`  

**if…else**  
`if (condition is true)`     
`{action1}else{action2}`

**if...else if...else**  
`if (condition is true) {action1}else`   
`if(condition is true)`  
`{action2}else{action3}`

In [ ]:
grade=93

# if
if (grade > 90){
  print("A")
}

[1] "A"

In [ ]:
# if ... else
if (grade >= 60){
  print("Pass")
}else {
  print("Fail")
}

[1] "Pass"

In [ ]:
# if ... else if ... else

grade = 65
  
if (grade >= 60){
    if (grade >= 90){
       print ("Grade is A")
    } else if (grade >= 80){
      print("Grade is B")
    }else if (grade >= 70){
      print("Grade is C")
    }
    else{
      print("Grade is D")
    }
} else{
    print("Grade is E")
}

[1] "Grade is D"

## Functions in R
Functions gather a sequence of operations into a whole, preserving it for ongoing use. Functions provide:

- a name we can remember and invoke it by
- relief from the need to remember the individual operations
- a defined set of inputs and expected outputs
- rich connections to the larger programming environment  

In R, we define a function using `function`

In [ ]:
# define a function to output the grade based in the score provided

score_to_grade = function(score){
   grade = ""
   if (score >= 60){
      if (score >= 90){
         grade = "A"
      } else if (score>=80){
        grade = "B"
      }else if (score >= 70){
        grade = "C"
      }
      else{
        grade="D"
      }
  } else{
      grade = "E"
  }
  return(grade)
}

In [ ]:
print(score_to_grade(70))

[1] "C"

In [ ]:
print(score_to_grade(89))

[1] "B"

In [ ]:
print(score_to_grade(55))

[1] "E"

## Visualization

There are three main plotting systems in R, the base plotting system, the lattice package, and the ggplot2 package.  

Today we’ll be learning about the ggplot2 package, because it is the most effective for creating publication quality graphics.  

ggplot2 is built on the grammar of graphics, the idea that any plot can be expressed from the same set of components: a data set, a coordinate system, and a set of geoms–the visual representation of data points.  

The key to understanding ggplot2 is thinking about a figure in layers. This idea may be familiar to you if you have used image editing programs like Photoshop, Illustrator, or Inkscape.

## Install packages

In [ ]:
if("ggplot2" %in% rownames(installed.packages()) == FALSE){install.packages("ggplot2")}
if("gapminder" %in% rownames(installed.packages()) == FALSE){install.packages("gapminder")}

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Load the packages

In [ ]:
library(ggplot2)
library(gapminder)
str(gapminder)

tibble [1,704 × 6] (S3: tbl_df/tbl/data.frame)
 $ country  : Factor w/ 142 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ continent: Factor w/ 5 levels "Africa","Americas",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ year     : int [1:1704] 1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 ...
 $ lifeExp  : num [1:1704] 28.8 30.3 32 34 36.1 ...
 $ pop      : int [1:1704] 8425333 9240934 10267083 11537966 13079460 14880372 12881816 13867957 16317921 22227415 ...
 $ gdpPercap: num [1:1704] 779 821 853 836 740 ...

In [ ]:
head(gapminder)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134